<div class="w-100 w-sm-60 margin">
  <form [formGroup]="registrationForm" autocomplete="off">
    <app-form-field
      inputId="name"
      inputName="name"
      labelMessage="Login"
      [validationErrors]="validationErrors$ | async"
    >
      <input
        id="name"
        formControlName="name"
        [className]="getInputClassName('name') | async"
      />
    </app-form-field>
    <app-form-field
      inputId="password"
      inputName="password"
      labelMessage="Password"
      [validationErrors]="validationErrors$ | async"
    >
      <ng-template #tipContent>
        At least 12 characters. A mixture of both uppercase and lowercase
        letters. A mixture of letters and numbers. Should have at least one
        special character.
      </ng-template>
      <input
        type="password"
        id="password"
        placement="right"
        [ngbTooltip]="tipContent"
        tooltipClass="info-tooltip"
        formControlName="password"
        [className]="getInputClassName('password') | async"
      />
    </app-form-field>
    <app-form-field
      inputId="verify-password"
      inputName="rePassword"
      labelMessage="Re-Password"
      [validationErrors]="validationErrors$ | async"
    >
      <input
        type="password"
        class="form-control"
        id="verify-password"
        formControlName="rePassword"
        [className]="getInputClassName('rePassword') | async"
      />
    </app-form-field>
    <app-form-field
      inputId="display-name"
      inputName="displayName"
      labelMessage="Display name"
      [validationErrors]="validationErrors$ | async"
    >
      <input
        class="form-control"
        id="display-name"
        formControlName="displayName"
      />
    </app-form-field>
    <app-form-field
      inputId="email"
      inputName="email"
      labelMessage="Email"
      [validationErrors]="validationErrors$ | async"
    >
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        formControlName="email"
        [className]="getInputClassName('email') | async"
      />
    </app-form-field>
  </form>

  <app-form-actions>
    <div style="flex: 1"></div>
    <div class="btn-group">
      <a routerLink="/login" class="btn btn-light">Cancel</a>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="onCreateAccountClick()"
      >
        Create Account
      </button>
    </div>
  </app-form-actions>
</div>
