<app-form-container>
  <h1 class="text-muted pb-3">Register Account</h1>

  <form autocomplete="off">
    <div class="mb-3">
      <label for="name" class="form-label">Login</label>
      <input class="form-control" id="name">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email Address</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Repeat Password</label>
      <input type="password" class="form-control" id="rePassword">
    </div>

    <div class="btn-group d-flex pt-3">
      <a routerLink="/login" class="btn btn-light">Cancel</a>
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</app-form-container>
