<app-page-title></app-page-title>
<app-page-body>
  <app-page-header>
    <ul class="nav">
      <li>
        <a routerLink="/courses" class="nav-link px-2 link-secondary"
          >Courses</a
        >
      </li>
      <li>
        <a routerLink="/grades" class="nav-link px-2 link-dark">Grades</a>
      </li>
    </ul>
  </app-page-header>

  <div class="d-flex flex-row">
    <form [formGroup]="searchForm" (submit)="onSearchFormSubmit($event)">
      <input
        class="form-control"
        placeholder="Search courses"
        formControlName="query"
      />
    </form>
    <div class="col"></div>
    <div class="btn-group">
      <button class="btn btn-primary" (click)="openCreateCourseModal()">
        Create Course
      </button>
    </div>
  </div>

  <div class="list-group py-2">
    <app-courses-element
      *ngFor="let course of currentPageCourses"
      [course]="course"
      (courseDelete)="onCourseDelete($event)"
    ></app-courses-element>

    <app-pagination
      [currentPage]="pageIndex"
      [pagesCount]="pagesCount"
      (pageChange)="onCurrentPageChange($event)"
    ></app-pagination>
  </div>
</app-page-body>

<footer class="py-3 my-2">
  <p class="text-center text-muted">© 2022 Damian Wileński</p>
</footer>
