<div
  class="container m-auto mt-5 rounded border border-warning shadow-sm bg-light text-warning"
  style="width: 900px"
>
  <div
    class="d-flex flex-column align-items-center justify-content-center my-3"
    role="alert"
  >
    <h1 class="error-code p-3">404</h1>
    <div class="d-flex flex-column align-items-center">
      <span class="message">Upss!</span>
      <span class="message">You found a dead route :(</span>
    </div>
    <a routerLink="/home" class="btn btn-warning my-5">Home page</a>
  </div>
  <footer class="py-3 my-2 border-top border-warning">
    <p class="text-center text-muted">© 2022 Damian Wileński</p>
  </footer>
</div>
