<div
  class="d-flex flex-column align-items-center justify-content-center my-3 text-danger"
  role="alert"
>
  <h1 class="error-code p-3">500</h1>
  <div class="d-flex flex-column align-items-center">
    <span class="message">This route is dead.</span>
    <span class="message">Send the report to us and then we will fix this issue!</span>
  </div>
</div>
<div class="alert alert-info mx-5" role="alert">
  <p>What report contains:</p>
  <ul>
    <li>stacktrace of issue</li>
    <li>basic information about action performed by you</li>
    <li>yours email to keep contact with you (optional)</li>
  </ul>
</div>
<div class="border border-dark shadow-sm rounded p-5 m-5 bg-light bg-opacity-75">
  Exception in thread "main" java.lang.NullPointerException at
  com.example.myproject.Book.getTitle(Book.java:16) at
  com.example.myproject.Author.getBookTitles(Author.java:25) at
  com.example.myproject.Bootstrap.main(Bootstrap.java:14)
</div>
