<div class="modal-header">
  <h4 class="modal-title">Create question</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="questionForm" class="px-2" (ngSubmit)="onSubmit($event)">
    <app-form-field
      inputName="startDateTime"
      labelMessage="Start time"
      [validationErrors]="{}"
    >
      <app-rich-text-editor
        [formControl]="contentControl"
      ></app-rich-text-editor>
    </app-form-field>

    <app-header-with-actions label="Answers">
      <button class="btn btn-primary" (click)="onAddAnswer()">
        Add Answer
      </button>
    </app-header-with-actions>

    <ng-container formArrayName="answers">
      <form
        *ngFor="let answerGroup of answersGroups; let answerGroupIndex = index"
        [formGroup]="answerGroup"
        class="card my-2"
      >
        <div class="card-body">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="create-is-valid-answer-{{ answerGroupIndex }}"
              formControlName="isValid"
            />
            <label
              class="form-check-label"
              for="create-is-valid-answer-{{ answerGroupIndex }}"
              >Is answer valid</label
            >
          </div>
          <app-rich-text-editor
            [formControl]="getContentFromFormGroup(answerGroup)"
          ></app-rich-text-editor>
        </div>
      </form>
    </ng-container>

    <app-form-actions>
      <div style="flex: 1"></div>
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="activeModal.close('Close click')"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </app-form-actions>
  </form>
</div>
