<ng-template [ngIf]="isEditMode">
  <div class="list-group-item d-flex align-items-center justify-content-center">
    <a routerLink="/lesson/{{ lesson.id }}" class="list-group-item-action">{{
      lesson.title
    }}</a>
    <div style="flex: 1"></div>
    <button
      type="button"
      class="btn btn-sm btn-link"
      (click)="onDeleteClick(lesson.id)"
    >
      Delete
    </button>
  </div>
</ng-template>

<ng-template [ngIf]="!isEditMode">
  <div class="list-group-item">
    <a routerLink="/lesson/{{ lesson.id }}" class="list-group-item-action">{{
      lesson.title
    }}</a>
  </div>
</ng-template>
