<div #contributorUserView class="px-0 px-sm-3 px-md-5 p-transition">
<!--  <form [formGroup]="postForm">-->
<!--    <div class="mb-3">-->
<!--      &lt;!&ndash;        <label class="form-label" for="title">Title</label>&ndash;&gt;-->
<!--      &lt;!&ndash;        <input class="form-control" id="title" formControlName="title">&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      &lt;!&ndash;        <label class="form-label" for="description">Description</label>&ndash;&gt;-->
<!--      &lt;!&ndash;        <app-rich-text-editor&ndash;&gt;-->
<!--      &lt;!&ndash;          id="description"&ndash;&gt;-->
<!--      &lt;!&ndash;          formControlName="description"&ndash;&gt;-->
<!--      &lt;!&ndash;        ></app-rich-text-editor>&ndash;&gt;-->
<!--    </div>-->
<!--  </form>-->
<!--  <app-sub-posts [post]="post" [isEditMode]="true"></app-sub-posts>-->
</div>
<div #normalUserView class="px-0 px-sm-3 px-md-5 p-transition">
  <!--    <h1>{{post.title}}</h1>-->
  <!--    <div class="bg-light bg-opacity-75 border rounded mb-3">-->
  <!--&lt;!&ndash;      <quill-view-html [content]="'<p>test<p>'"></quill-view-html>&ndash;&gt;-->
  <!--    </div>-->
  <!--    <app-sub-posts [post]="post" [isEditMode]="false"></app-sub-posts>-->
</div>
