<div
  #postsListElement class="posts-list-element shadow-sm mb-2"
  (mousemove)="onMouseMove($event, postsListElement)"
>
  <button class="btn btn-light bg-transparent d-flex flex-row px-2 text-dark align-items-center" routerLink="/view-post/1">
    <img src="https://wilenskid.pl/assets/avatar.jpg" height="75" width="75" class="rounded me-2" alt="logo">
    <div class="d-flex flex-column overflow-hidden p-2">
      <div
        class="d-flex align-items-center text-truncate text-uppercase h5"
      >
        post title
      </div>
      <div class="flex-fill text-muted text-truncate text-wrap text-start fw-light fs-extra-small">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum
        commodo dolor. Nam rhoncus est ac neque congue, sed elementum augue tristique.
      </div>
    </div>
  </button>
</div>
