<div
  class="container m-auto mt-5 p-5 border rounded bg-light shadow-sm"
  style="width: 450px"
>
  <form>
    <h1 class="pb-3">Password Recovery</h1>
    <div class="alert alert-info" role="alert">
      Type yours email and if we have any account linked to it we will send you
      an email. In the email you will receive one-time link to reset yours
      password. Received link will expire after 2 hours.
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="d-flex align-items-center mt-5">
      <div style="flex: 1"></div>
      <button type="submit" class="btn btn-primary">Remind Password</button>
    </div>
  </form>
</div>
