<app-form-container>
  <h1>Login</h1>
  <form>
    <div
      class="alert alert-danger"
      role="alert"
    >
      Provided bad credentials. Please check is everything provided correctly!
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Login</label>
      <input class="form-control" id="name">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>

    <div class="mb-3 form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="rememberLogin"
        formControlName="rememberLogin"
      />
      <label class="form-check-label" for="rememberLogin">Remember my login</label>
    </div>

    <div class="btn-group d-flex mt-3">
      <button routerLink="/forget-password" class="btn btn-light">Forget password</button>
      <button routerLink="/register" class="btn btn-light">Register</button>
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</app-form-container>
